{% extends "layout.html" %}

{% block style %}

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

{% endblock style %}

{% block content %}
    
    <div class=container>
        <h4 class='search_head'>
            Enter your e-mail address, phone number and location
        </h4>
        <div class="main">
            <form name="mainform" action="" method="POST" >
                {{ form.hidden_tag() }}
                <div class="form_full">
                    <!-- {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% endif %} -->
                    {{ form.email }}
                </div>
                <div class="form_full">
                    <!-- {% if form.number.errors %}
                        {{ form.number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% endif %} -->
                    {{ form.number }}
                </div>
                <div class="form_half">
                    {{ form.state }}
                    {{ form.district }}
                </div>
                <div class="form_full">
                    {{ form.age }}
                </div>
                <div class="submit">
                    {{ form.submit }}
                </div>
            </form>
        </div>
        <p class="grey">
            You'll get a mail and a text alerting you about availabilty of slots
        </p>
    </div>

    <script>
        let st = document.getElementById('state');
        let dst = document.getElementById('district');
        
        var dist_exam1 = [['1', '1'], ['2', '2']]
        var dist_exam2 = [['a', 'A'], ['b', 'B']]
        var dists = {'andaman and nicobar islands': dist_exam1, 'andhra pradesh': dist_exam2}


        st.onchange = function() {
            state = st.value;
            options = "";
            for(let dist of dists[state])
            {
                // console.log(dist[0])
                options += '<option value="' + dist[0] + '">' + dist[1] + '</option>'
            }

            dst.innerHTML = options;
        }
    </script>

{% endblock content %}
